<div class="input-group" >
  <input *ngIf="opcionSeleccionada.tipoOpcion === 'T'"
         type="text"
         class="form-control"
         [(ngModel)]="textoIngresado"
         [placeholder]="opcionSeleccionada.placeholder"
         (ngModelChange)="onChangeTextoIngresado()">
  <select *ngIf="opcionSeleccionada.tipoOpcion === 'C'"
          class="form-control"
          [(ngModel)]="valorCombo"
          (change)="onChangeCombo()">
    <option [value]="null" disabled>Seleccione</option>
    <option *ngFor="let item of opcionSeleccionada.data"
            [value]="item.codigo">{{item.descripcion}}</option>
  </select>
  <div class="btn-group" dropdown>
    <button type="button"
            class="btn btn-info"
            (click)="onBuscar()"
            [disabled]="enabledButton">
      <fa-icon [icon]="icon"></fa-icon> {{textButton}}</button>
    <button type="button" dropdownToggle
            id="button-split"
            class="btn btn-info dropdown-toggle dropdown-toggle-split"
            aria-controls="dropdown-split">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul id="dropdown-split" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-split">
      <li *ngFor="let option of customDataList; let i = index"
          class="menu-item"
          role="menuitem">
        <a class="dropdown-item" (click)="onSeleccionarOpcion(option, i)">{{option.descripcion}}</a>
      </li>
      <li class="menu-item" role="menuitem" *ngIf="busquedaAvanzada">
        <a class="dropdown-item" (click)="onMostrarBusquedaAvanzada()">Busqueda Avanzada</a>
      </li>
    </ul>
  </div>
</div>
